body {
  background-color: black;
  color: blanchedalmond;
  font-family: var(--Noto-sans);
}

.full_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 33%;
  box-sizing: border-box;
  padding: 1.5em 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;
}

#clock {
  font-size: 11em;
}

#login input {
  text-align: center;
  font-family: var(--Noto-sans);
  color: cadetblue;
  font-size: 2.5em;
  width: 11em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  margin-bottom: 0.6em;
}

#greeting-user {
  text-align: center;
  font-family: var(--Noto-sans);
  font-size: 2.5em;
  color: cadetblue;
  width: 11em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0px;
  margin-bottom: 0.6em;
}

.hidden {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-basis: 33%;
  box-sizing: border-box;
  padding: 1.5em 1.5em;
}
